.A4 .sheet {
  width: 210mm;
  height: auto;
  min-height: 296mm;
  padding: 0 10mm;
}

.A5.landscape .sheet {
  width: 210mm;
  height: auto;
  min-height: 147mm;
  padding: 0 10mm;
}

.sheet {
  &.huong-dan {
    padding: 10mm !important;
    height: auto !important;
    min-height: auto !important;
    color: #af305a;

    a {
      color: #af305a;
    }
  }
}

td {
  white-space: pre-wrap !important;
}

.heading {
  font-size: 110%;
}

td.head-c2 {
  width: 100px !important;
}

td.head-c3 {
  width: 200px;
}

.solid-box {
  border: 1px solid black;
  padding: 2px 8px !important;
}

.total-sum {
  .sign-box1 {
    width: 60%;
  }
  .sign-box2 {
    width: 40%;
  }
}

.chu-ky {
  .sign-box1 {
    width: 60%;
  }
  .sign-box2 {
    width: 40%;
  }
  .line-date,
  .line1,
  .line2 {
    text-align: center;
  }

  .line1 {
    margin-top: 8px;
  }
}

.ds-san-pham {
  .currency {
    text-align: right;
    border: none;
  }

  .idx {
    max-width: 50px;
  }

  .inv-no {
    max-width: 100px;
  }

  .inv-date {
    min-width: 90px;
    max-width: 90px;
  }

  .name {
    min-width: 140px;
    max-width: 140px;
  }

  .remark {
    min-width: 100px;
    max-width: 100px;
  }

  .tax {
    min-width: 80px;
    max-width: 80px;
  }

  .revenue {
    min-width: 90px;
    max-width: 90px;
  }

  .tax-amount {
    min-width: 90px;
    max-width: 90px;
  }
}

.logo {
  vertical-align: top;
  width: 90px;
  max-width: 90px;
  padding: 0;
}

.logo img {
  width: 70px;
  height: auto;
}
