.mini-chart {
	transition: all 150ms linear 0s;
	position: absolute;
	cursor: pointer;
	height: 100px;
	width: 200px;
	right: 16px;
	top: 0px;

	&.show-full {
		position: relative;
		right: auto;
		cursor: auto;
		width: 100%;
		height: 500px;
		min-height: 500px;
		height: auto;
		background: var(--ion-color-tertiary-tint);
		border-radius: 6px;
		margin-top: 20px;

		.statistic-row {
			display: grid;
		}
		.mini-chart-control {
			margin: 16px;
		}
	}

	.mini-chart-control {
		position: absolute;
		z-index: 100;
		right: 0;
		text-align: right;
		width: auto;
		height: auto;
	}

	.statistic-row {
		display: none;
		margin: 16px;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		gap: 4px;
		max-width: 750px;

		.card-multirow {
			cursor: pointer;
			padding: 12px 16px;
			width: 100%;
			border-top: 3px solid transparent;
			border-radius: 5px;
			transition: all 100ms linear 0s;

			&.selected,
			&:hover {
				border-top-style: solid;
				border-top-color: var(--ion-color-primary);
				background: linear-gradient(
					0deg,
					rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.025) 0%,
					rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.15) 100%
				) !important;
			}

			.card-header {
				letter-spacing: 0.05em;
				text-transform: uppercase;
				font-size: 1.1rem;
				font-weight: 700;
				color: var(--ion-color-dark);
				opacity: 0.5;
			}
			.card-value {
				font-size: 18px;
				font-weight: 700;
				color: var(--ion-color-dark);
			}
			.card-compare-percent {
				display: grid;
				grid-template-columns: min-content min-content;
				gap: 5px;
				-webkit-box-align: center;
				align-items: center;
			}
			.card-chart-preview {
				pointer-events: none;
				width: 100%;
				height: 100%;
			}
		}

		.card-single-number {
		}
	}
}




