.full-screen{
    min-height: calc(100vh - 97px);
}

section.table {
    display: grid;
}

.col-name {
    min-width: 250px;
    width: 250px;
    max-width: 250px;
}

.payments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    span {
        padding: 8px 0;
    }
}