<ion-header [translucent]="true">
  <app-toolbar BackHref="dynamic-dashboard" [page]="this" [ShowFeature]="true">
    <ion-button (click)="toggleDesign()" *ngIf="options">
      <ion-icon
        slot="icon-only"
        [name]="options.draggable.enabled? 'color-palette': 'color-palette-outline'"
      ></ion-icon>
    </ion-button>
  </app-toolbar>
</ion-header>

<ion-content
  id="dashboard"
  [fullscreen]="true"
  appScrollbarTheme
  [ngClass]="{'withFeature': pageConfig.isShowFeature, 'scrollx':options?.draggable?.enabled }"
>
  <ion-fab
    *ngIf="pageConfig.isShowFeature && item"
    class="feature"
    vertical="top"
    [ngClass]="{'ion-hide-md-down': !pageConfig.isSubActive}"
    horizontal="end"
    slot="fixed"
  >
    <ion-accordion-group *ngIf="pageConfig.canEdit" [value]="'first'">
      <ion-accordion value="first" style="background: transparent">
        <ion-item slot="header" color="light">
          <ion-label>{{'Report information' | translate}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" style="background: transparent">
          <app-form-control
            [field]="{id:'Id', type : 'number', form : formGroup }"
            (change)="saveChange()"
          ></app-form-control>
          <app-form-control [field]="{id:'Code', form : formGroup }" (change)="saveChange()"></app-form-control>
          <app-form-control [field]="{id:'Name', form : formGroup }" (change)="saveChange()"></app-form-control>
          <app-form-control
            [field]="{id:'Icon', secondaryId: 'Color', label: 'Icon',  type : 'icon-color', form : formGroup }"
            (change)="saveChange()"
          ></app-form-control>
          <app-form-control
            [field]="{id:'Type', type : 'number', form : formGroup }"
            (change)="saveChange()"
          ></app-form-control>
          <app-form-control
            [field]="{id:'Remark', type : 'textarea', form : formGroup }"
            (change)="saveChange()"
          ></app-form-control>
          <ng-container *ngIf="item.Id">
            <app-form-control [field]="{id:'CreatedBy', label: 'Created by', form : formGroup }"></app-form-control>
            <app-form-control
              [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
            ></app-form-control>
            <app-form-control
              [field]="{id:'ModifiedBy', label: 'Last modified by', form : formGroup }"
            ></app-form-control>
            <app-form-control
              [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
            ></app-form-control>
          </ng-container>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-fab>

  <div class="ion-padding">
    <app-page-title
      [icon]="formGroup.get('Icon').value"
      [color]="formGroup.get('Color').value"
      [title]="formGroup.get('Name').value"
      [remark]="formGroup.get('Remark').value"
    >
    </app-page-title>
  </div>
  <app-page-message
    [itemsLength]="items.length"
    [showSpinner]="pageConfig.showSpinner"
    *ngIf="!isAddReportModalOpen"
    message="No reports in this dashboard"
    subMessage="Pin some reports to see them here"
  >
    <hr />
    <div class="c-control" *ngIf="pageConfig.canEdit">
      <ion-button size="small" (click)="showReportPicker()">
        <ion-icon slot="start" name="pin"></ion-icon>
        {{'Pin report' | translate}}
      </ion-button>
    </div>
  </app-page-message>

  <ion-toolbar color="primary" *ngIf="options?.draggable?.enabled">
    <ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
      <ion-segment-button [value]="l" *ngFor="let l of item.Config?.Layout">
        <ion-label>{{l.Name | translate}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div id="grid-layout" style="margin: auto; overflow: visible">
    <gridster [options]="options" *ngIf="items.length && pageConfig.showSpinner==false">
      <gridster-item [item]="i" *ngFor="let i of items">
        <app-report-chart
          class="fullfill"
          viewMode="dashboard"
          [reportId]="i.IDReport"
          [gridItem]="i"
          (delete)="removeItem(i)"
          (openReport)="onOpenReport($event)"
          (widgetConfigChange)="onWidgetConfigChange($event)"
        ></app-report-chart>
      </gridster-item>
    </gridster>
  </div>

  <div class="ion-text-center" *ngIf="pageConfig.canEdit && items.length > 0">
    <ion-button size="small" (click)="showReportPicker()">
      <ion-icon slot="start" name="pin"></ion-icon>
      {{'Pin report' | translate}}
    </ion-button>
  </div>

  <div class="ion-padding"></div>
  <ion-modal
    #modal
    [isOpen]="isAddReportModalOpen"
    (willDismiss)="isAddReportModalOpen = false; "
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
  >
    <ng-template>
      <ion-content appScrollbarTheme>
        <ion-searchbar
          #reportSearch
          placeholder="Search"
          [debounce]="300"
          [(ngModel)]="reportSearchKeyword"
        ></ion-searchbar>
        <ion-list>
          <ion-item
            button
            *ngFor="let r of rpt.items | searchNoAccent:{Name:reportSearchKeyword}"
            (click)="addItem(r)"
            deltail="false"
          >
            <ion-icon [color]="r.Color||'primary'" [name]="r.Icon" slot="start"></ion-icon>
            <ion-label>
              <h2>{{r.Name}}</h2>
              <p *ngIf="r.Remark">{{r.Remark}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <div style="padding-top: 25vh"></div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
